*{
	font-style: italic;
}
plik{
	border: solid 4pt grey;
	display:block;
}
informacje_o_pliku{
	display:block;
	background:white;
	text-align:center;
	padding-bottom:10pt;
	
}
opis_zawartosci{
display:block;	
font-weight:bolder;
font-size: 15pt;
font-style: normal;
font-family: tahoma;
padding:10pt;
background: grey;
color: white;
margin-bottom:10pt;
border-bottom: solid 4pt grey;
}
autor:first-of-type::before{
	content: "Autorzy:\a- ";
	white-space: pre;
	font-style: normal;
	font-weight:bold;
	
}
autor:before{
	content:"- ";
	
}
autor:first-of-type{
	margin-top:10pt;
}
autor::after{
	content: "\a";
	white-space: pre;
}
data_modyfikacji::before{
	content: "Ostatnia modyfikacja: ";
	font-style: normal;
	font-weight:bold;
}
data_modyfikacji::after{
	content: " przez ";
	font-style: italic;
}
przychodnia{
	display:block;
	background:white;
	border-top: solid 4pt grey;
}
przychodnia:before{
	content:"WIZYTY";
	display:block;	
	text-align:center;
	font-weight:bolder;
	font-size: 15pt;
	font-style: normal;
	font-family: tahoma;
	padding:10pt;
	background: orange;
	color: white;
	border-bottom: solid 4pt grey;
	
}
wizyty{
	display:table;
	width:100%;
}
wizyta{
	display:table-row;
	text-align:center;
}

wizyta > *{
    display: table-cell;
    padding: 5px;
	border-left: solid black 1px;
	}
baza_danych:before{
	content:"KARTY PACJENTÓW";
	display:block;	
	text-align:center;
	font-weight:bolder;
	font-size: 15pt;
	font-style: normal;
	font-family: tahoma;
	padding:10pt;
	background: orange;
	color: white;
	border-bottom: solid 4pt grey;
	border-top: solid 4pt grey;
}
karty_pacjentow{
	display:table;
	width:100%;
}

	karta_pacjenta > *{
    display: table-cell;
    padding: 5px;
	border-left: solid black 1px;
	}
	karta_pacjenta{
	display: table-row;
	text-align:center;
	}
wizyta:first-child>*:nth-child(1):before{
	display: block;
	content:"Data wizyty";
	margin-bottom:7pt;
	border-bottom:solid black 1px;
}
wizyta:first-child>*:nth-child(2):before{
	display: block;
	content:"Objawy";
	margin-bottom:7pt;
	border-bottom:solid black 1px;
}
wizyta:first-child>*:nth-child(3):before{
	display: block;
	content:"Rozpoznanie";
	margin-bottom:7pt;
	border-bottom:solid black 1px;
}
wizyta:first-child>*:nth-child(4):before{
	display: block;
	content:"Zalecenia";
	margin-bottom:7pt;
	border-bottom:solid black 1px;
}
wizyta:first-child>*:nth-child(5):before{
	display: block;
	content:"Data kolejnej wizyty";
	margin-bottom:7pt;
	border-bottom:solid black 1px;
}
karta_pacjenta:first-child>*:nth-child(1):before{
	display: block;
	content:"Numer ubezpieczenia";
	margin-bottom:7pt;
	border-bottom:solid black 1px;
}
karta_pacjenta:first-child>*:nth-child(2):before{
	display: block;
	content:"Nazwisko i imię";
	margin-bottom:7pt;
	border-bottom:solid black 1px;
}
karta_pacjenta:first-child>*:nth-child(3):before{
	display: block;
	content:"Wiek";
	margin-bottom:7pt;
	border-bottom:solid black 1px;
}
karta_pacjenta:first-child>*:nth-child(4):before{
	display: block;
	content:"Numer telefonu";
	margin-bottom:7pt;
	border-bottom:solid black 1px;
}
karta_pacjenta:first-child>*:nth-child(5):before{
	display: block;
	content:"Adres";
	margin-bottom:7pt;
	border-bottom:solid black 1px;
}
karta_pacjenta:first-child>*:nth-child(6):before{
	display: block;
	content:"Alergie";
	margin-bottom:7pt;
	border-bottom:solid black 1px;
}
karta_pacjenta:first-child>*:nth-child(7):before{
	display: block;
	content:"Przebyte choroby";
	margin-bottom:7pt;
	border-bottom:solid black 1px;
}
karta_pacjenta:first-child>*:nth-child(8):before{
	display: block;
	content:"Szczepienia";
	margin-bottom:7pt;
	border-bottom:solid black 1px;
}
karta_pacjenta:first-child>*:nth-child(9):before{
	display: block;
	content:"Grupa krwi";
	margin-bottom:7pt;
	border-bottom:solid black 1px;
}
karta_pacjenta:first-child>*:nth-child(10):before{
	display: block;
	content:"Przyjmowane leki";
	margin-bottom:7pt;
	border-bottom:solid black 1px;
}